.footer {
  background-color: #303030;
  color: #ffffff;
  height: 54px;
  padding: 0px;
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center; /* Changed from space-between */
}

.footer .page-buttons {
  display: flex;
  gap: 10px;
  max-width: 400px; /* Added this line */
  width: 100%; /* Added this line */
  justify-content: space-between; /* Added this line */
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer .home-button {
  flex-grow: 1;
}

.button-label {
  font-size: 10px;
}

.button-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.current-page-icon::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 56px;
  background-color: rgba(255, 0, 0, 0.2); /* Semi-transparent red */
  z-index: -1; /* Places it behind the icon */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers it */
}