@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('/css/footer.css');
@import url('/css/datatables.css');

/* Main background color */
body.dark {
  background-color: #1e1e1e;
}

/* add padding to the bottom of the page to account for the footer */
body.dark {
  padding-bottom: 50px;
}

.modal.modal-dark {
  background-color: #252525;
}

/* Text color */
body.dark,
body.dark h1,
body.dark p {
  color: #bebdbd;
}

/* Navigation bar */
nav {
  background-color: #a10000;
  height: 46px;
  line-height: 46px;
  
}

nav a {
  height: 46px !important;
  line-height: 46px !important;
  color: #ffffff;
}

nav i{
  height: 46px !important;
  line-height: 46px !important;
  margin-right: 2px !important;
}

.top-left {
  float: left;
  position: relative;
  z-index: 1;
  height: 46px;
  margin: 0 18px;
}

.brand-logo a {
  text-align: left;
  font-size: 20px;
  display: inline;
}

nav .brand-logo {
  height: 46px;
  font-size: 20px;
  left: auto !important;
  transform: none !important;
}

.sub-page-name {
  color: rgb(185, 183, 183);
}

/* Mobile navigation bar */
.sidenav {
  background-color: #2e2e2e;
}

.sidenav a {
  color: #ffffff;
}

.sidenav li a {
  color: #c2c2c2;
}

.sidenav li:hover {
  background-color: #1e1d1d;
}

select {
  /* Styles for all select elements */
  background-color: #262626;
  color: #848484;
  border: 1px solid #1e1e1e;
}

select:disabled {
  background-color: #858484;
  border: 1px solid #444444;
}

/* Button styles */
.btn {
  background-color: #424242;
  color: #ffffff;
  height: 36px !important;
  line-height: 36px !important;
  padding: 0 8px !important;
  margin: 0px 5px 5px 0px !important;
}

.btn, .btn-large, .btn-small, .btn-flat {
  padding: 0 8px !important;
}

.back-button .material-icons {
  line-height: 46px !important;
}

table.dataTable tbody tr {
  background-color: #1e1e1e !important;
 }

table.dataTable tbody tr:hover {
  background-color: #616161 !important;
}

#save-workout-btn.btn[disabled] {
  background-color: #2f2f2f !important;
  color: #cacaca !important;
}

.copy-del-btn {
  background-color: #5e5d5d;
  color: #ffffff;
  float: right;
  border: none;
  height: 24px;
  margin: 0 2px;
}

.copy-del-btn:hover {
  background-color: #a30e0e;
  border: none;
  height: 24px;
}

.btn:hover,
.btn-active {
  background-color: #a30e0e;
}

/* Scrollbar styles */

body {
  scrollbar-width: thin;
  scrollbar-color: #555555 #1d1d1d;
}

/* For Webkit browsers like Chrome and Safari */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

/* Link styles */
a {
  color: #ffffff;
  display: flex;
  align-items: center;
}

select {
  display: block !important;
}

.row {
  margin-bottom: 5px;
  height: 20px;
}

::placeholder {
  color: #bdbdbd !important;
}

#workout-name {
  color: #bdbdbd;
  font-size: 24px;
}

input,
input[type="number"] {
  color: #bdbdbd;
}

.input-field {
  margin: 0 !important;
  align-items: left;
}

.input-field input[type="number"],
.input-field select {
  height: 32px;
  color: #bebebe !important;
  background-color: #222222;
  padding-left: 10px;
}

.input-field select:disabled,
.input-field input:disabled {
  background-color: #3d3d3d;
  border: 1px solid #bebdbd !important;
}

.input-field {
  display: flex;
  justify-content: space-between;
}

#add-selection-btn {
  margin-left: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #3d3d3d;
  border: 1px solid #5c5b5b;
  transition: margin-top 0.3s ease;
}

li:nth-child(even) {
  background-color: #5c5b5b;
}

li:hover {
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

li.rest &, .rest {
  background-color: rgb(39, 91, 0) !important;
}

li.warmup &, .warmup {
  background-color: rgb(47, 59, 200) !important;
}

h4 {
  margin-top: 0;
}

li.selected {
  border-color: red !important;
}

.hide {
  display: none;
}

.workout-list {
  margin: 0;
  padding: 0;
}

.workout-list li.active {
  background-color: #b90000; /* Add your desired background color */
}

/* CSS styles for the rest list items */
.workout-list li.rest {
  background-color: rgb(39, 91, 0);
}

.workout-list li.rest.active {
  background-color: rgb(43, 160, 0) !important;
}

.workout-list li.warmup.active {
  background-color: rgb(0, 115, 255) !important;
}

.progress-bar {
  position: relative;
}

.progress-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000; /* black color */
  transition: width 0.1s linear; /* animate the width expansion effect */
}

.workout-list li {
  position: relative;
}

.workout-list li .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000;
  opacity: 0.5;
  transition: width 0.1s linear;
}

.workout-list li span {
  position: relative !important;
  z-index: 1 !important;
}

.modal .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  position: fixed;
}

.countdown-clock {
  font-family: "Courier New", monospace;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  background-color: #1b1b1b;
  padding: 2px;
  border: 1px solid #525252;
}

.exercise-details {
  display: none;
  height: 36px;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #1a1a1a;
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  align-items: left;  
}

.show-prev-details {
  margin-top: 40px;
  transition: margin-top 0.3s ease;
}

.workout-complete-message {
  display: none;
  text-align: center;
  margin-top: 60px;
}

.workout-complete-message h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.workout-complete-message p {
  font-size: 18px;
  margin-bottom: 0;
}

tr td {
  color: #bebdbd !important;
}

textarea {
  color: #bebdbd !important;
}