@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('datatables.css');

/* Main background color */
body.dark {
  background-color: #1e1e1e;
}

/* Text color */
body.dark, 
body.dark h1, 
body.dark p {
  color: #bebdbd;
}

/* Navigation bar */
nav {
  background-color: #a10000;
}

nav a {
  color: #ffffff;
}

.brand-logo a {
  text-align: left;
  display: inline;
}

nav .brand-logo {
  left: auto !important;
  transform: none !important;
}

.sub-page-name {
  color: rgb(185, 183, 183);
}

/* Mobile navigation bar */
.sidenav {
  background-color: #2e2e2e;
}

.sidenav a {
  color: #ffffff;
}

.sidenav li a {
    color:#c2c2c2
}

.sidenav li:hover {
    background-color:#1e1d1d
}

/* Button styles */
.btn {
  background-color: #424242;
  color: #ffffff;
}

.btn:hover {
    background-color: #a30e0e;
}

.btn-active {
    background-color: #a30e0e;
}

/* Link styles */
a {
  color: #ffffff;
  display: flex;
  align-items: center;

}

select {
  display: block !important;
}

.row {
  margin-bottom: 5px;
  height: 20px;
}

.input-field {
  margin: 0 0 0 0 !important;
  align-items: left;
}

.input-field input[type="number"] {
  border: 1px solid #bebdbd;
}

.input-field input[type="number"], 
.input-field select {
  height: 32px;
  color: #bebebe !important;
  background-color: #222222;
  padding-left: 10px;
}

.input-field select:disabled {
  background-color: #3d3d3d;
}

.input-field input:disabled{
  background-color: #3d3d3d;
  border: 1px solid #bebdbd !important;
}

.input-field {
  display: flex;
  justify-content: space-between;
}

#add-selection-btn {
  margin-left: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #3d3d3d;
  border: 1px solid #3d3d3d;
}

li:nth-child(even) {
  background-color: #5c5b5b;
  border: 1px solid #5c5b5b;
}

li:hover {
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

h4 {
  margin-top: 0;
}
